@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #200538, #0f203a);
  color: #fff;
}

h1 {
  text-align: center;
  margin: 80px auto 40px;
  font-weight: 600;
}

#search-form {
  width: 90%;
  max-width: 600px;
  height: 65px;
  background: #e8d2fc;
  border-radius: 15px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchbox {
  flex: 1;
  height: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 0 25px;
  color: #fff;
  font-size: 20px;
}

#btn {
  padding: 0 40px;
  height: 100%;
  font-size: 18px;
  border-radius: 0 15px 15px 0;
  border: 0;
  outline: 0;
  color: white;
  background: linear-gradient(#9418fd, #571094);
  cursor: pointer;
}

#more {
  padding: 10px 20px;
  border: 0;
  outline: 0;
  background: linear-gradient(#9418fd, #571094);
  color: #fff;
  border-radius: 5px;
  margin: 20px auto 100px;
  cursor: pointer;
  display: none;
}

#search-result {
  margin-left: 60px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#search-result img {
  border: 1px solid #efeef0;
  object-fit: cover;
  margin: 25px;
  border-radius: 5px;
  width: 25vw;
  height: 25vw;
}
#search-result img:hover {
  box-shadow: 1px 1px 8px #9418fd;
  transform: scale(1.05);
}
@media screen and (max-width: 600px) {
  #search-form {
    width: 80%;
    max-width: 320px;
    height: 45px;
    margin: auto;
  }

  #searchbox {
    font-size: 14px;
    padding: 0;
    margin-left: 10px;
    margin-right: -100px;
  }

  #btn {
    font-size: 15px;
    padding: 0px 10px;
    width: 25%;
  }

  #search-result {
    margin-left: 15px;
    display: flex;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #search-result img {
    border-radius: 4px;
    object-fit: cover;
    margin: 12px;
    border-radius: 5px;
    width: 38vw;
    height: 38vw;
  }
}
